.Nav {
  width: 100%;
  height: 9vh;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
  display:flex;
  align-items: center;
  justify-content: center;
}
.menu{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  display: none;
}
.search{
  position: relative;
  left: 6.5%;
  height:70%;
  width:70%;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1.5px solid rgba(73, 72, 72, 0.5);
}
.Nav .search img{
  height:20px;
  width:20px;
  margin-left:20px;
}
input{
  height:70%;
  width:90%;
  margin-left:25px;
  border:0;
  font-size: 17px;
  outline: none;
}
.icon{
  width: 140px;
  height: 40px;
  background-image: url('./icon.jpeg');
  background-repeat: no-repeat;
  object-fit:contain;
  position: absolute;
  left: 20px;
  background-size: 90px;
}
@media only screen and (max-width:1025px) {
  .search{
    left: 10%;
  }
}
@media only screen and (max-width:792px) {
  input{
    font-size: 14px;
    margin-left: 20px;
  }
  .Nav .search img{
    margin-left: 15px;
  }
.menu{
  display: block;
}
  .icon{
    background-size: 60px;
    height: 30px;
    width: 70px;
    left: 60px;
  }
}
@media only screen and (max-width:425px) {
  .icon{
    background-size: 40px;
    height: 20px;
    width: 50px;
    left: 60px;
  }
  input{
    font-size: 10px;
    margin-left: 5px;
  }
  .Nav .search img{
    margin-left: 10px;
    height: 15px;
    width: 15px;
  }
  .search{
    width: 67%;
    left: 11%;
  }
}
@media only screen and (max-width:375px) {
.search{
  width: 63%;
  left: 13%;
}
}
@media only screen and (max-width:325px) {
.search{
  height: 60%;
  width: 60%;
  left: 14.5%;
}
}