.policyContainer {
    position: absolute;
    top: 4rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* position: fixed; */
    margin: 0 auto;
  }
  .policiesContainer{
      width: 80%;
  }
  @media only screen and (max-width: 792px) {
      .policyContainer{
          width: 100%;
      }
  }
  