.sideBar{
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    display: block;
}
.contNavigation{
    height: 20%;
    width: 100%;
}
.chooseCont{
    height: 30%;
    width: 95%;
    margin: 10px 0;

    /* background-color: rgb(45, 95, 220); */
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    /* background-color: rgb(66, 135, 245); */
    background-color: white;
    /* color: white; */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.chooseContent{
    margin-left: 15%;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chooseContent2{
    height: 30%;
    width: 95%;
    margin: 10px 0;
    color: #fff;
    /* background-color: rgb(45, 95, 220); */
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    background-color: rgb(66, 135, 245);
}
.lang{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.langChoose{
    width: 80%;
    height: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}
.langChoose p{
    margin: 20px 0;
}
.selectLang{
    width: 70%;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
@media only screen and (max-width:792px) {

.sideBar{
display: none;
}
}